img { 
width: 30%;
margin: 1.66%; 
float:left;}

h1 { 
font-family: 'Montserrat', sans-serif;
font-weight: 600;
margin-bottom: 4px;
text-align: center;
text-transform: uppercase;
/*font-style: italic ;*/
} 

p { 
font-family: 'Montserrat', sans-serif;
margin: 0px auto ;
text-align: center;
border-bottom: 1px solid red;
width: 33%;
font-style: italic;
letter-spacing: 1px;
}


h3 {
	font-family: 'Montserrat', sans-serif;
margin: 0px auto ;
text-align: center;
border-bottom: 1px solid red;
width: 90%;
}



a { 
color: black; }